.sidebar_inner {
    background-color: var(--ina-theme-bg_2);
}

.ina-sidebar {
    .sidbar-content {
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        width: 420px;
        background-color: var(--ina-theme-bg_2) !important;
        height: 100vh;
        z-index: 9999;
        padding: 50px 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        .ina-sidebar-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5rem;
            position: relative;

            .ina-logo-wrapper {
                position: relative;
                display: flex !important;
                justify-content: space-between;
                align-items: center;
                max-width: 100%;
                padding: 0;

                @include respond("phone-land") {
                    display: none;
                }
            }
        }

        &.active {
            transform: translateX(0);
            transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);

            @include respond("phone-land") {
                width: 100%;
            }
        }
    }

    .overlay-sidebar {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        background-color: var(--ina-theme-bg_dark_5);
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        z-index: 13;
        &.active {
            opacity: 1;
            visibility: visible;
            transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }
    }
}

.ina-navbar-sidebar {
    .ina-sidebar-top {
        .ina-logo-wrapper {
            max-width: inherit;
            width: auto;
            padding: 0;
            display: none;
        }

        .ina-logo-wrapper {
            padding-left: 0;
        }
    }
}

.ina-navbar-sidebar {
    .ina-navbar {
        padding-top: 0;
        overflow: hidden;

        .ina-wrraper-navbar {
            width: 100%;
            padding: 0;
            width: 100%;
            padding: 0;

            .navbar-collapse {
                .ina-main-menu {
                    display: inline-block;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    position: relative !important;
                    height: 396px;
                    overflow-y: auto;

                    .nav-item {
                        a {
                            padding: 0;
                            font-size: 18px;
                            color: var(--ina-theme-color_text_titre_0);

                            &.dropdown-item:focus,
                            &.dropdown-item:hover {
                                background-color: var(--ina-theme-bg_transparent);
                            }

                            &:before {
                                display: none !important;
                            }

                            &:after {
                                display: none !important;
                            }

                            span:after {
                                content: "\f178" !important;
                                font-family: $font_fontello;
                                font-weight: normal;
                                text-decoration: inherit;
                                width: 1em;
                                position: absolute;
                                display: block !important;
                                border: none;
                                top: 1px;
                                font-size: 19px;
                                right: -35px;
                                @include transition($delay: 0.5s, $function: ease-in-out);
                            }
                        }

                        + .nav-item {
                            margin-top: 25px;
                        }

                        &:nth-child(02) {
                            margin-right: 0;
                        }

                        .dropdown-menu {
                            background-color: var(--ina-theme-bg_transparent);
                            box-shadow: none;
                            padding-top: 10px;
                            padding-bottom: 0;
                            padding-left: 10px;

                            li {
                                a {
                                    padding: 10px 0px 10px 0;

                                    span:after {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .ina-navbar-sidebar {
        .navbar-expand-lg {
            .navbar-nav {
                .dropdown-menu {
                    position: initial;
                }
            }
        }
    }
}

.ina-text-follow {
    font: {
        family: $font_syne;
        weight: $font-weight-bold;
        size: 14px;
    }

    display: inherit;
    line-height: 20px;

    margin-bottom: 1.3rem;
}

.ina-fixed-sidebar {
    -webkit-position: sticky;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    bottom: auto;

    @include respond("tab-port") {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/************************** 
*  ina sidebar inner style 2
***************************/

.ina_sidebar_inner-style-2 {
    background-color: transparent;

    .widget {
        background-color: #f8f8f8;
        margin-bottom: 30px;

        .ina-widget-title:after,
        .ina-widget-title:before {
            content: "";
            background-color: var(--ina-theme-bg_4);
        }

        &.ina-widget-categories ul li:before {
            background-color: var(--ina-theme-bg_4) !important;
        }
    }
}

/************************** 
*  Banner sidebar
***************************/

.ina_banner-widget-wrapper {
    position: relative;
    display: flex;
    justify-content: center;

    .ina_banner-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }

    &.ina_banner-contrast-colors:after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
