/************************** 
*  Accordion
***************************/

.accordion-item {
    margin-bottom: 30px;
    border: 1px solid var(--ina-theme-border_color_7);
    cursor: pointer;
    @extend .box-shadow;

    .accordion-button {
        font: {
            family: $font_syne;
            weight: $font-weight-bold;
            size: 24px;
        }
        color: var(--ina-theme-color_text_titre_0);
        padding: 30px 25px;

        &:after {
            display: none;
        }

        &:not(.collapsed) {
            // color: var(--ina-theme-color_light_10);
            // background-color: var(--ina-theme-bg_4);
            // background-color: #fdd062;
            background-color: var(--ina-theme-bg_2);
            box-shadow: none;
        }

        &:focus {
            border-color: transparent;

            box-shadow: none;
        }
    }
}

.ina_form-inner {
    input,
    textarea,
    select {
        background-color: var(--ina-theme-bg_light_10);
        border: none;
    }
}
