.ina_full-grid {
    position: relative;
    overflow: hidden;

    .ina_grid-style {
        columns: 3;
        column-gap: 0;
        margin-left: -60px;
        margin-right: -60px;
        position: relative;

        @include respond("tab-port") {
            columns: 2;
            margin-left: 0;
            margin-right: 0;
        }

        @include respond("phone-land") {
            columns: 1;
            margin-left: 0px;
            margin-right: 0px;
            text-align: center;
        }

        .ina_single-item {
            display: inline-block;
            position: relative;
            padding: 0 60px 60px 60px;
            margin-bottom: 60px;
            z-index: 1;

            @include respond("tab-port") {
                padding: 0 12px;
                margin-bottom: 30px;
                border: none;
            }

            .ina_thumbnail-item {
                .ina-top-thumbnail {
                    img {
                        width: 100%;
                    }
                }

                .botom-thumbnail {
                    text-align: left;
                    padding-top: 20px;

                    @include respond("mini-phone") {
                        display: inline-block !important;
                        width: 100%;
                    }
                }
            }

            &:last-child {
                @include respond("phone-land") {}
            }
        }

        &.ina_grid-style-5 {

            .ina_single-item {

                @include respond('tab-port') {
                    padding: 0;
                }

                .ina_thumbnail-item {

                    .botom-thumbnail {
                        @include respond('min-tab') {
                            display: inline-block !important;
                            width: 100%;
                        }

                        .entry-title {

                            @include respond('min-tab') {
                                margin-bottom: 16px;
                            }
                        }

                        .ina-link-animate {
                            margin-bottom: 0;
                        }

                    }
                }
            }
        }

    }
}