/************************** 
*  Generale style
***************************/

.ina_product-title {
    font-size: 19px;
}

.ina_remove {
    position: relative;
    display: block;
    text-align: center;

    .ina_button-remove {
        font-size: 42px;
        opacity: 0.5;
        color: var(--ina-theme-color_text_titre_1);
    }
}

.ina_product-review {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        color: #ffbc3b;
        + i {
            margin-left: 4px;
        }
    }
}

.order_review_heading,
.order_review_heading_payment {
    font : {
        size: 35px;
    }

    line-height: 1.2em;
}

//
:is(.woocommerce-billing-content, .checkout-order-review, .woocommerce-checkout-payment) {
    box-shadow: 4px 3px 40px rgba(16, 33, 34, 0.06);
    padding: 40px;
    margin-bottom: 30px;
    border: 1px solid var(--ina-theme-border_color_7);

    @include respond("tab-lg") {
        padding: 20px;
    }
}

:is(.checkout-order-review, .woocommerce-checkout-payment) {
    @include respond("tab-lg") {
        margin-left: 0 !important;
    }
}

:is(.order_review_heading_payment, .order_review_heading, .woocommerce-checkout-payment) {
    @include respond("tab-lg") {
        font-size: 28px;
    }
}

/************************** 
*  Product List
***************************/

.ina_products {
    .ina_product-single {
        position: relative;
        display: block;
        background-color: rgb(255, 255, 255);
        margin-bottom: 30px;
        text-align: center;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        z-index: 1;

        &:hover {
            box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);

            .ina_products-icon-boxes {
                opacity: 1;
                -webkit-transform: perspective(400px) rotateX(0deg) translateX(0%);
                -ms-transform: perspective(400px) rotateX(0deg) translateX(0%);
                transform: perspective(400px) rotateX(0deg) translateX(-0%);
                transition-delay: 0.3s;
                transition-timing-function: ease-in-out;
                transition-duration: 0.5s;
                transition-property: all;
            }

            .ina_product-img {
                &:before {
                    visibility: visible !important;
                    -webkit-transform: translateY(0%) !important;
                    transform: translateY(0%) !important;
                    opacity: 1 !important;
                }
            }

            .ina_product-img {
                img {
                    transform: scale(1.05);
                }
            }
        }

        .ina_product-single-inner {
            position: relative;
            display: block;
            border: 1px solid var(--ina-theme-border_color_7);
            overflow: hidden;
            z-index: 1;

            .ina_product-img {
                position: relative;
                display: block;
                overflow: hidden;
                z-index: 1;
                padding: 60px;

                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(42, 73, 29, 0.1);
                    -webkit-transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
                    transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
                    transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
                    transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease,
                        -webkit-transform 500ms ease;
                    visibility: hidden;
                    opacity: 0;
                    -webkit-transform: translateY(-70%);
                    transform: translateY(-70%);
                    z-index: 1;
                }

                img {
                    width: 100%;
                    mix-blend-mode: darken;
                    transition: all 500ms ease;
                }
            }

            .ina_product-content {
                position: relative;
                display: block;
                text-align: center;
                margin-top: 30px;
                margin-bottom: 30px;

                .ina_product-title {
                    margin: 11px 0;
                    font-size: 19px;
                }

                .ina_product-price {
                    font: {
                        family: $font_syne;
                        weight: 400;
                        size: 19px;
                    }

                    line-height: 19px;
                }

                .ina_product-btn-box {
                    position: relative;
                    display: block;
                    margin-top: 15px;
                    z-index: 2;
                }
            }
        }
    }
}

.ina_products-icon-boxes {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-property: all;
    z-index: 1;

    a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        background-color: var(--ina-theme-bg_2);
        transition: all 200ms linear;
        transition-delay: 0.1s;

        &:hover {
            background-color: var(--ina-theme-bg_4);
            color: var(--ina-theme-color_light_10);
        }

        + a {
            margin-top: 10px;
        }
    }
}

/************************** 
*  Single Product
***************************/

.ina_product-details {
    position: relative;
    display: block;

    .ina-container {
        @include respond("tab-port") {
            max-width: 720px;
            padding-right: var(--bs-gutter-x, 0.75rem) !important;
            padding-left: var(--bs-gutter-x, 0.75rem) !important;
        }
    }

    .product-details__img {
        position: relative;
        display: block;
        overflow: hidden;
        border: 1px solid var(--ina-theme-border_color_7);
        padding: 100px;

        img {
            width: 100%;
        }
    }

    .ina_product-details-top {
        position: relative;
        display: block;

        .ina_product-title {
            font-size: 35px;
            line-height: 35px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include respond("a-kindle") {
                font-size: 24px;
            }

            span {
                color: var(--ina-theme-color_2);
                font-size: 24px;
                line-height: 24px;
            }
        }

        @include respond("phone-land") {
            margin-top: 52px;
        }
    }

    .ina_product-reveiw {
        display: flex;
        align-items: center;
        margin-top: 25px;
        padding-bottom: 30px;
        margin-bottom: 20px;
        border-bottom: 1px solid var(--ina-theme-border_color_7);

        i {
            color: #ffbd3c;

            + i {
                margin-left: 5px;
            }
        }
    }

    .ina_short-description {
        p {
            margin-bottom: 30px;
        }
    }

    .ina_product-details {
        position: relative;
        display: flex;
        align-items: center;
        margin: 30px 0;

        @include respond("iphone-6-plus") {
            display: inline-block;
            width: 100%;
        }
    }

    .ina_product-details-buttons {
        position: relative;
        display: flex;
        align-items: center;

        @include respond("mini-phone") {
            align-items: baseline;
            justify-content: space-between;
        }

        > div {
            margin-left: 10px;

            @include respond("iphone-6-plus") {
                margin-top: 16px;
                margin-left: 0px;
            }
        }

        .ina_button-cart {
            @include respond("iphone-6-plus") {
                margin-left: 16px;
            }
        }
    }

    .ina_product-social {
        position: relative;
        display: flex;
        align-items: center;
        border-top: 1px solid #eaeae2;
        padding-top: 30px;

        @include respond("phone-land") {
            flex-direction: column;
            align-items: baseline;
        }

        .title {
            margin-right: 30px;

            h3 {
                font-size: 16px;

                line-height: 18px;
            }
        }

        .ina_product-social-link {
            position: relative;
            display: flex;
            align-items: center;

            @include respond("phone-land") {
                margin-left: 0;
                margin-top: 20px;
            }

            a {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--ina-theme-color_text_titre_0);
                transition: all 200ms linear;
                transition-delay: 0.1s;

                + a {
                    margin-left: 15px;
                }

                &:hover {
                    color: var(--ina-theme-color_2);
                }
            }
        }
    }
}

.ina_quantity {
    position: relative;
    width: 98px;
    height: 57px;

    input {
        width: 98px;
        height: 57px;
        border: 0;
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
        padding-left: 30px;
        outline: none;
        font-size: 14px;
        background-color: #f3f3ed;
    }

    button {
        width: 24px;
        height: 24px;
        background-color: transparent;
        color: #7d8978;
        font-size: 8px;
        position: absolute;
        top: 1px;
        right: 1px;
        background-color: #f3f3ed;
        border: none;
        border-left: 1px solid #eaeae2;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;

        &.sub {
            bottom: 1px;
            top: auto;
            border-top: 1px solid #eaeae2;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ina_product-details-top {
        margin-top: 52px;
    }
}

.ina_review-one {
    .ina-container {
        @include respond("tab-port") {
            max-width: 720px;
            padding-right: var(--bs-gutter-x, 0.75rem) !important;
            padding-left: var(--bs-gutter-x, 0.75rem) !important;
        }
    }
}

.ina-product-description-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 27px;
}

.ina_product-description {
    margin-bottom: 60px;

    .ina-container {
        @include respond("tab-port") {
            max-width: 720px;
            padding-right: var(--bs-gutter-x, 0.75rem) !important;
            padding-left: var(--bs-gutter-x, 0.75rem) !important;
        }
    }

    .ina_product-description-list {
        position: relative;
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;

        ul {
            position: relative;
            display: block;

            li {
                position: relative;
                display: block;
                margin-bottom: 2px;

                &:last-child {
                    margin-bottom: 0px;
                }

                p {
                    span {
                        &:before {
                            position: relative;
                            display: inline-block;
                            color: #ffbd3c;
                            font-size: 17px;
                            line-height: 17px;
                            margin-right: 11px;
                            top: 2px;
                        }
                    }
                }
            }
        }
    }
}

/************************** 
*  Cart
***************************/

.ina_cart-page {
    position: relative;
    display: block;
    background-color: var(--ina-theme-bg_light_10);
    padding: 110px 0px 120px;

    .table-responsive {
        position: relative;
        display: block;
        width: 100%;

        .ina_table-page {
            margin-bottom: 60px;
        }

        @include respond("phone-land") {
            margin-bottom: 30px;
        }
    }
}

.ina_table-page {
    @include respond("tab-land") {
        min-width: 1170px;
    }
}

.ina_table-page {
    thead {
        th {
            font: {
                family: $font_syne;
                weight: $font-weight-bold;
                size: 17px;
            }

            color: #24211f;

            line-height: 22px;
            border: none;
            padding: 15px 19px 13px;
            background-color: #f8f8f8;

            &:first-child {
                padding-left: 15px;
            }
        }
    }

    tbody {
        tr {
            vertical-align: middle;

            &:last-child {
                border-bottom: 1px solid #eeede5;
            }
        }

        td {
            font: {
                family: $font_syne;
                weight: 400;
                size: 19px;
            }

            line-height: 19px;

            color: var(--ina-theme-color_text_titre_1);
            border-top: 1px solid var(--ina-theme-border_color_7);
            border-bottom: 1px solid var(--ina-theme-border_color_7);
            padding: 17px 19px 15px;

            @include respond("a-kindle") {
                display: table-cell;
                width: auto;
            }
        }
    }

    .img-box {
        position: relative;
        display: block;
        overflow: hidden;

        img {
            width: 70px;
        }
    }

    .ina_product-title {
        a {
            transition: all 200ms linear;
            transition-delay: 0.1s;

            &:hover {
                color: var(--ina-theme-color_2);
            }
        }
    }
}

.cart-cupon__form {
    position: relative;
    display: block;
    margin-bottom: 30px;

    .cart-cupon__input {
        font: {
            family: $font_syne;
            weight: 500;
            size: 15px;
        }

        max-width: 375px;
        padding: 18px 30px;
        margin-right: 10px;
        color: #7d8978;
        border: 1px solid var(--ina-theme-border_color_7);
        border-radius: 0;
    }

    button {
        border: none;
        outline: none;
    }
}

.cart-total {
    position: relative;
    display: block;
    margin-bottom: 20px;
    margin-top: -7px;

    li {
        font: {
            family: $font_syne;
            weight: $font-weight-bold;
            size: 17px;
        }

        line-height: 22px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include respond("phone-land") {
            justify-content: flex-start;
        }

        + li {
            margin-top: 15px;
        }

        span {
            &:first-child {
                display: block;
                line-height: 22px;
                margin-right: 75px;
                width: 135px;
                text-align: right;

                @include respond("phone-land") {
                    text-align: left;
                    margin-right: 45px;
                    right: 0;
                }
            }

            &:last-child {
                font-weight: $font-weight-normal;
            }
        }

        &:nth-child(2) {
            span {
                &:first-child {
                    position: relative;
                }
            }
        }
    }

    .cart-total-amount {
        color: var(--ina-theme-color_2);
    }
}

.cart-page__buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include respond("phone-land") {
        justify-content: space-between;
    }

    .cart-page__buttons-1 {
        position: relative;
        display: block;
    }

    .cart-page__buttons-2 {
        position: relative;
        display: block;
        margin-left: 10px;
    }
}

/************************** 
*  Wishlist
***************************/

.wishlist-page {
    position: relative;
    display: block;
    background-color: var(--ina-theme-bg_light_10);
    padding: 110px 0px 120px;
}

/************************** 
*  Checkout
***************************/

// Generale

.woocommerce {
    .ina-container {
        @include respond("tab-port") {
            max-width: 720px;
            padding-right: var(--bs-gutter-x, 0.75rem) !important;
            padding-left: var(--bs-gutter-x, 0.75rem) !important;
        }
    }
}

.woocommerce-account-fields,
.woocommerce-shipping-fields {
    .form-check-label {
        margin-bottom: 15px;

        span {
            font: {
                family: $font_syne;
                weight: $font-weight-bold;
                size: 16px;
            }

            color: var(--ina-theme-color_text_titre_0);
        }

        &:before {
            margin-top: -5px;
            margin-right: 10px;
        }
    }
}

// Coupon

.woocommerce-form-coupon-toggle {
    margin-bottom: 30px;

    .apply-coupon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 51px;

        input {
            background-image: url("../../images/coupon.png");
            background-position: 20px center;
            background-repeat: no-repeat;
            padding-left: 50px;
            margin: 0;
        }

        button {
            min-width: 186px;
            height: 100%;
            padding: 0;
        }
    }
}

// Form login

.woocommerce-form-login-toggle {
    font: {
        family: $font_syne;
        weight: 400;
        size: 17px;
    }

    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid var(--ina-theme-border_color_7);
    color: #716e6b;

    a {
        font-weight: $font-weight-bold;

        &:hover {
            color: var(--ina-theme-color_2);
        }
    }
}

.login_form {
    .panel-body {
        border: 1px solid #eaeae2;
        padding: 40px;
        margin-top: 30px;
        border-radius: 10px;

        p {
            margin-bottom: 30px;
        }
    }

    .login_footer {
        margin-bottom: 20px;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .woocommerce-form-login__rememberme {
            label {
                span {
                    font: {
                        family: $font_syne;
                        weight: $font-weight-bold;
                        size: 14px;
                    }

                    color: var(--ina-theme-color_text_titre_0);
                }
            }
        }

        .woocommerce-LostPassword {
            font: {
                family: $font_syne;
                size: 16px;
            }

            color: #e07214;
        }
    }
}

// woocommerce billing content

.woocommerce-billing-content {
    .woocommerce-billing-fields {
        h3 {
            font-size: 47px;

            @include respond("tab-lg") {
                font-size: 28px;
            }
        }
    }
}

// My order

.checkout-order-review {
    margin-left: 30px;

    @include respond("tab-lg") {
        margin-left: 0 !important;
    }

    .woocommerce-checkout-review-order-table {
        table {
            tbody {
                tr {
                    border: 1px solid var(--ina-theme-border_color_7);

                    td {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

.woocomerce-title {
    font: {
        family: $font_syne;
        size: 17px;
        weight: $font-weight-bold;
    }

    line-height: 17px;

    color: var(--ina-theme-color_text_titre_0);
}

.cart_item {
    .ina_product-thumbnail {
        img {
            max-width: 80px;
        }
    }

    .product-name {
        span {
            max-width: 160px;
            margin-bottom: 5px;
            display: inline-block;
        }
    }

    .product-quantity {
        font: {
            family: $font_syne;
            weight: $font-weight-bold;
            size: 17px;
        }

        padding-left: 20px;
        padding-right: 20px;

        opacity: 0.5;
        color: var(--ina-theme-color_text_titre_1);
    }

    .product-total {
        .amount {
            bdi {
                font: {
                    family: $font_syne;
                    weight: $font-weight-bold;
                    size: 17px;
                }

                line-height: 17px;
            }
        }
    }
}

.woocommerce-checkout-payment {
    margin-left: 30px;

    @include respond("ab-port") {
        margin-left: 0;
    }

    .payment_option {
        .form-check {
            margin-bottom: 0;
            padding: 5px 0;

            .form-check-label {
                font: {
                    family: $font_syne;
                    size: 17px;
                    weight: $font-weight-bold;
                }

                margin-bottom: 0;

                color: var(--bs-body-color);
            }

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    .payment-logo {
        margin: 30px 0;
    }
}

@media only screen and (max-width: 480px) {
    .table td {
        display: block;
        width: 100%;
        text-align: left;
    }

    .table td::before {
        content: attr(data-title) " ";
        float: left;
        text-transform: capitalize;
        margin-right: 15px;
        font-weight: bold;
    }
}
