.ina-content-details {
    overflow: hidden;

    .ina-container {
        @include respond ('tab-port') {
            max-width: 720px;
            padding-right: var(--bs-gutter-x, .75rem) !important;
            padding-left: var(--bs-gutter-x, .75rem) !important;
        }
    }

}

.ina-standar-post-wide {
    padding-left: 255px;
    padding-right: 255px;

    @include respond("tab-land") {
        padding-left: 0;
        padding-right: 0;
    }
}

.ina-single-post-img {
    position: relative;
    width: var(--theme-var-page_width);
    left: calc(var(--theme-var-page_width) / -2 + 50%);
    margin-top: var(--ina-theme-margin_30);
    margin-bottom: var(--ina-theme-margin_30);
    gap: 0.5em;

    @include respond("tab-land") {
        width: auto;
        left: 0;
    }

    &.ina-single-post-img-st1 {
        width: auto;
        left: auto;
        gap: 30px;
    }

    .ina-size-img {
        img {
            width: 100%;
        }
    }

    &.ina-is-full-width {
        width: 100%;
        left: auto;
    }
}

.ina-full-content {
    .trx_addons_dropcap {
        background-color: var(--ina-theme-bg_transparent);
        color: var(--ina-theme-color_text_titre_0);
        font-size: 57px;
        height: 55px;
        line-height: 48px;
        margin: 0;
        min-width: 60px;
        padding-right: 5px;
        overflow: visible;
        float: left;
        text-align: center;
    }

    .ina-single-post-title {
        margin-bottom: var(--ina-theme-margin_30);
    }

    p {
        margin-bottom: var(--ina-theme-margin_30);

        &:last-child {
            // margin-bottom: calc(1.875rem * 2);
        }
    }
}

.ina-video {
    margin-bottom: var(--ina-theme-margin_30);

    iframe {
        @include respond('tab-port') {
            height: 100%;
        }
    }
}

.ina-about-content p {
    margin-bottom: var(--ina-theme-margin_30);
    text-align: justify;

    &:last-child {
        margin-bottom: 0;
    }
}

.text-flex {
    p {
        &:nth-child(01) {
            padding-right: 30px;

            @include respond("tab-port") {
                padding-right: 0;
            }
        }
    }
}