/************************** 
* Border radius
***************************/

@mixin borderRadius($br) {
    -webkit-border-radius: $br;
    -moz-border-radius: $br;
    border-radius: $br;
}

/************************** 
* Transition Delay
***************************/

@mixin transitionDelay($tD) {
    -webkit-transition-delay: $tD;
    -moz-transition-delay: $tD;
    -o-transition-delay: $tD;
    transition-delay: $tD;
}

@mixin transition($property: all, $delay: 0.5s, $function: ease-in-out) {
    transition: $property $delay $function;
    -webkit-transition: $property $delay $function;
    -moz-transition: $property $delay $function;
    -ms-transition: $property $delay $function;
    -o-transition: $property $delay $function;
}

@mixin transitionOpacity($property: opacity, $delay: 0.5s, $function: ease-out) {
    transition: $property $delay $function;
    -webkit-transition: $property $delay $function;
    -moz-transition: $property $delay $function;
    -ms-transition: $property $delay $function;
    -o-transition: $property $delay $function;
}

/************************** 
* Text Transform
***************************/

@mixin textTransform($tT) {
    text-transform: $tT;
}

/************************** 
* Border T R B L
***************************/
@mixin borderTop($bT) {
    border-top: $bT;
}

@mixin borderLeft($bL) {
    border-left: $bL;
}

@mixin borderRight($bR) {
    border-right: $bR;
}

@mixin borderBottom($bB) {
    border-bottom: $bB;
}

/************************** 
* Mixin Class imort
***************************/

@mixin reset-after-arrows {
    content: "\f178" !important;
    font-family: $font_fontello;
    font-weight: normal;
    text-decoration: inherit;
    width: 1em;
    position: absolute;
    display: block !important;
    border: none;
    top: 4px;
    font-size: 19px;
    right: 0;
    @include transition($delay: 0.5s, $function: ease-in-out);
}

/************************** 
* Media Query
***************************/

@mixin respond($breackpoint) {
    @if ($breackpoint=="mini-phone") {
        @media only screen and (max-width: 320px) {
            @content;
        }
    }

    @if ($breackpoint=="iphone") {
        @media only screen and (max-width: 375px) {
            @content;
        }
    }

    @if ($breackpoint=="iphone-6-plus") {
        @media only screen and (max-width: 414px) {
            @content;
        }
    }

    @if ($breackpoint=="a-kindle") {
        @media only screen and (max-width: 480px) {
            @content;
        }
    }

    @if ($breackpoint=="phone") {
        @media only screen and (max-width: 575px) {
            @content;
        }
    }

    @if ($breackpoint=="small-tablet") {
        @media only screen and (max-width: 600px) {
            @content;
        }
    }

    @if ($breackpoint=="phone-land") {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }

    @if ($breackpoint=="min-tab") {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }

    @if ($breackpoint=="min-tab-min") {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }

    @if ($breackpoint=="tab-port") {
        @media only screen and (max-width: 991px) {
            @content;
        }
    }

    @if ($breackpoint=="tab-port-min") {
        @media only screen and (min-width: 992px) {
            @content;
        }
    }

    @if ($breackpoint=="tab-lg") {
        @media only screen and (max-width: 1024px) {
            @content;
        }
    }



    @if ($breackpoint=="tab-land") {
        @media only screen and (max-width: 1199px) {
            @content;
        }
    }

    @if ($breackpoint=="min-and-with") {
        @media (min-width: 768px) and (max-width: 1199px) {
            @content;
        }
    }

    @if ($breackpoint=="min-and-max-1") {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    }

    @if ($breackpoint=="min-and-max-2") {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }


    @if ($breackpoint=="min-and-max-3") {
        @media (min-width: 576px) and (max-width: 991px) {
            @content;
        }
    }

    @if ($breackpoint=="desktop") {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }

    @if ($breackpoint=="laptop") {
        @media only screen and (max-width: 1400px) {
            @content;
        }
    }

    @if ($breackpoint=="min-laptop") {
        @media only screen and (min-width: 1400px) {
            @content;
        }
    }

    @if ($breackpoint=="mid-desktop") {
        @media only screen and (max-width: 1600px) {
            @content;
        }
    }

    @if ($breackpoint=="big-desktop") {
        @media only screen and (min-width: 1800px) {
            @content;
        }
    }

    @if ($breackpoint=="respo-1") {
        @media only screen and (min-width: 576px) and (max-width: 767px) {
            @content;
        }
    }
}