.ina-our-story {
    .title-section {
        @include respond("tab-port") {
            text-align: left !important;
        }
    }

    .ina-story-text {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        text-align: left;
        height: 100%;
        align-items: center;

        @include respond("tab-port") {
            display: inherit;
        }

        .space {
            @include respond("tab-port") {
                height: 0;
            }
        }

        div {
            width: 100%;
            display: inline;
        }

        p {
            margin-bottom: 30px;

            @include respond("tab-port") {
                margin-bottom: var(--ina-theme-margin_30);
            }
        }

        .ina-info-about {
            margin-top: 30px;
            display: flex;
            flex-direction: column;

            img {
                width: 150px;
            }

            span {
                font: {
                    family: $font_syne;
                    weight: 700;
                    size: 14px;
                }

                line-height: 18px;

                letter-spacing: 0.13em;
                color: var(--ina-theme-color_2);
            }
        }
    }

    .ina-story-img {
        background-color: var(--ina-theme-bg_light_10);
        border-radius: 5px;
        box-shadow: 0 33px 67px rgba(0, 0, 0, 7%);
        padding: 30px 23px;
        position: relative;
        text-align: center;

        @include respond("tab-port") {
            margin-top: 50px;
        }

        img {
            width: 100%;
        }

        &:after {
            position: absolute;
            top: 15px;
            left: 11px;
            right: 11px;
            bottom: 15px;
            border: 1px solid var(--ina-theme-color_4);
            border-radius: 5px;
            content: "";
        }
    }
}

.space {
    height: 37px;
    display: block !important;
}
