/***************************** 
*  Widget Standar Service style 1
******************************/


.ina_services-style-one{
    position: relative;
    padding-bottom: 0;

    .ina-standard-posts {
        @extend .box-shadow;
        .entry-media {
            .ina-post-thumbnail {
                text-align: center;
                padding-top: 40px;
                padding-bottom: 40px;
                a {
    
                    &:after {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        content: "";
                        height: 150px;
                        width: 150px;
                        background: #f7c35f;
                        z-index: -1;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
    
                .img-thumb {
                    width: auto;
                    height: 120px;
                }
            }
        }
    
        .entry-content-wrapper {
            padding: 32px;
        }
    }
    

} 


.ina_services-style-one {
    position: relative;
    padding-bottom: 0;

    .section-description {
        margin-top: 46px;
        @include respond("tab-land") {
            margin-top: 0;
        }
    }
}


.ina_services-style-one:after {
    content: "";
    width: 100%;
    height: 24%;
    position: absolute;
    // background-color: #f8f8f8;
    background-color: var(--ina-theme-bg_2);
    left: 0;
    bottom: 0;
}

.ina_services-style-one .ina-standard-posts {
    background-color: #fff;
    position: relative;
    z-index: 1;
}