.ina_testimonials {
    background-image: url(../../images/new-image/shape-6.png);
    background-size: cover;
    background-position: bottom center;
    position: relative;

    .ina_testimonials-item {
        position: relative;
        z-index: 1;

        .ina_testimonials-content {
            position: relative;
            padding: 30px;
            padding-bottom: 50px;
            background-color: var(--ina-theme-bg_light_10);
            border-radius: 5px;
            @extend .box-shadow;

            .ina_testimonials-stars {
                display: flex;
                margin-bottom: 15px;

                li i {
                    color: var(--ina-theme-color_4);
                }
            }

            &.ina_testimonials-item-active {
                background-color: var(--ina-theme-color_2) !important;

                p {
                    color: #ffffff;
                }
            }
        }

        .ina_testimonials_author {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            text-align: center;
            margin-top: -30px;

            img {
                max-width: 60px;
                margin-bottom: 10px;
            }

            .ina_testimonials_name {
                margin-bottom: 5px;
                font-size: 16px;
            }

            .ina_testimonials_title {
                font-family: "Syne", sans-serif;
                font-weight: 700;
                font-size: 13px;
                line-height: 16px;
                letter-spacing: 0.78px;
            }
        }
    }
}

.ina_testimonials:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
}

/************************** 
*  Swiper Testimonials 1
***************************/
.ina_swiper-testimonials-style-one {
    .ina_swiper-pagination-style-one {
        position: relative;
        display: block;
        margin-top: 150px;
    }
}
