/************************** 
*  Import style
***************************/

@import "../helpers/_variabls";
@import "../helpers/_mixins";

/************************** 
* Button
***************************/

.btn {
    font: {
        family: $font_syne;
        weight: $font-weight-bold;
    }

    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: none;

    padding: 17px 25px;
    overflow: hidden;
    border-radius: 0;

    &:hover {
        color: var(--ina-theme-color_light_10);
    }
}

.ina_button {
    font: {
        family: $font_syne;
        weight: $font-weight-bold;
    }

    color: var(--ina-theme-color_light_10);
    padding: 17px 50px;
    display: flex;

    .icon-instagram {
        margin-right: 5px;
        display: none;

        @include respond("tab-port") {
            display: inline;
            margin: 0;
        }

        &:before {
            font-size: 26px;
        }
    }

    .text-button {
        @include respond("tab-port") {
            display: none;
        }
    }

    @include respond("tab-port") {
        padding: 10px;
    }
}

/************************** 
* Button pallete Color
***************************/

.ina_button_light {
    background-color: var(--ina-theme-bg_light_10);
    @include transition($delay: 0.3s, $function: ease);

    &:hover {
        background-color: var(--ina-theme-bg_light_10);
        @include transition($delay: 0.3s, $function: ease);
    }
}

.ina_button_dark {
    background-color: var(--ina-button-dark);
    color: var(--ina-theme-color_light_10);
    transition: all 0.5s linear;
    z-index: 1;
    vertical-align: middle;
}


.ina_button_green {
    background-color: var(--ina-theme-bg_4);
    border-width: 1px;
    border-style: solid;
    border-color: var(--ina-theme-bg_4);
    color: var(--ina-theme-color_light_10);
    @include transition($delay: 0.3s, $function: ease);

    &:hover {
        // background-color: var(--ina-theme-bg_light_10);
        background-color: #629977;
        border-color: #629977;
        // color: var(--ina-theme-color_text_titre_0);
        @include transition($delay: 0.3s, $function: ease);

        span {
            color: #ffffff;
        }
    }
}

.ina_button_orange {
    background-color: var(--ina-theme-color_4);
    @include transition($delay: 0.3s, $function: ease);

    &:hover {
        background-color: var(--ina-theme-color_5);
        color: var(--ina-theme-color_light_10);
        @include transition($delay: 0.3s, $function: ease);
    }
}


.ina_button_color_1 {
    background-color: #A77C52;
    border-width: 1px;
    border-style: solid;
    border-color: #A77C52;
    @include transition($delay: 0.3s, $function: ease);

    &:hover {
        background-color: var(--ina-theme-bg_light_10);
        border-color: #A77C52;
        color: var(--ina-theme-color_text_titre_0);

        @include transition($delay: 0.3s, $function: ease);
    }
}


.ina-button-submit {
    padding: 17px 25px;
    width: auto !important;
}




// 
/************************** 
* Button pallete Icons
***************************/

.ina-button-full-icon {
    display: inline-block;

    svg {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;

        &:hover {
            -webkit-transform: translateX(5px);
            -ms-transform: translateX(5px);
            transform: translateX(5px);
        }
    }
}

/************************** 
* Button Style hover
***************************/

.ina_button-hover {
    background-color: var(--ina-theme-bg_4);
    color: var(--ina-theme-color_light_10);
    transition: all 0.5s linear;
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 60px;
        background-color: #a7c87a;
        clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
        transition: all 0.5s linear;
        z-index: -1;
    }
}

.ina_button-hover-dark {
    background-color: var(--ina-button-dark);
    color: var(--ina-theme-color_light_10);
    transition: all 0.5s linear;
    z-index: 1;
    vertical-align: middle;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 60px;
        background-color: var(--ina-button-hover-dark);
        clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
        transition: all 0.5s linear;
        z-index: -1;
    }
}

.ina_product-all-btn {
    font: {
        family: $font_syne;
        size: 16px;
        weight: 700;
    }

    @include respond("iphone-6-plus") {
        font-size: 14px;
        padding: 17px 20px;
    }

    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: none;

    padding: 17px 25px;
    overflow: hidden;

    &:hover {
        color: var(--ina-theme-color_light_10);

        &:before {
            width: 190%;
        }
    }
}