.ina_main-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: calc(100vh - 115px);
    z-index: 1;

    .ina_item-slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .ina_main-items {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .slide {
        display: none;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s ease;

        &.is-active {
            display: block;
        }

        &.is-loaded {
            opacity: 1;
        }

        .caption {
            text-align: left;
            padding: 0 12px;


            @include respond('tab-lg') {
                padding: 0 100px;
            }
        }

        .image-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            z-index: 1;
            background-size: cover;
            image-rendering: optimizeQuality;

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.1);
            }
        }

        .image {
            width: 100%;
            width: 100%;
            object-fit: cover;
            height: 100%;
        }

        &-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            color: #fff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ina-sub-title {
            color: #ffffff;
            font-family: $font_Handlee;
            font-weight: 800;
            margin-bottom: 30px;
            display: inherit;
            line-height: 18px;
            letter-spacing: 0.13em;
        }

        .ina-title {
            margin: 0 auto 15px;
            font-size: 50px;
            color: #ffffff;

            strong {

                display: inherit;
            }


            @include respond('tab-port') {
                font-size: 30px;

            }
        }

        .ina-description {
            margin-bottom: 30px;
            max-width: 80%;

            p {
                color: #ffffff;

                @include respond('a-kindle') {

                    display: none;
                }
            }
        }

        .ina_button {

            @include respond('tab-port') {
                padding: 17px 50px;

            }

            .ina_text-button-slider {
                @include respond('tab-port') {
                    display: block;

                }
            }
        }



    }

    .ina_pagination-slider {
        position: absolute;
        bottom: 35px;
        left: 0;
        width: 100%;
        height: 12px;
        cursor: default;
        z-index: 9999999;
        text-align: center;
        display: none;

        .item {
            display: inline-block;
            position: relative;
            cursor: pointer;
            text-indent: -999em;
            z-index: 1;
            background: transparent;
            height: 20px;
            width: 20px;
            border: 1px solid #ccc;
            opacity: 1;
            margin: 0 5px !important;
            border-radius: 50%;

            &::after {
                width: 0;
                background: #fff;
                z-index: 2;
                transition: width 0.2s ease;
            }

        }
    }

    .ina_arrows-slider {
        .arrow {
            margin: -33px 0 0;
            position: absolute;
            top: 50%;
            cursor: pointer;
            z-index: 3;
            border: 1px solid #ffff;
            border-radius: 50px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;

            span {
                color: #ffffff;
            }
        }

        .prev {
            left: 30px;

        }

        .next {
            right: 30px;
        }

        .svg {
            position: relative;
            left: 0;
            width: 14px;
            height: 26px;
            fill: #fff;
            transition: left 0.2s ease;
        }



        @include respond('tab-port') {

            display: none;
        }
    }

    &:after {
        // position: absolute;
        // left: 0;
        // top: -84px;
        // content: "";
        // height: 100px;
        // width: 100%;
        // background: url(../../images/new-image/shape-5.png);
        // z-index: 2;
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-position: bottom;

    }

    &:before {
        position: absolute;
        left: 0;
        bottom: -45px;
        content: "";
        height: 100px;
        width: 100%;
        background: url(../../images/new-image/shape-4.png);
        z-index: -1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        z-index: 999999;
    }


    &:after,
    &:before {
        @include respond('tab-land') {
            display: none;
        }
    }

}









.is-active:before {
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    height: 5px;
    width: 5px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--ina-theme-bg_4);
    transition: all 0.35s ease-in-out;
}