/************************** 
*  Global Style Swiper
***************************/

.swiper-wrapper {
    will-change: transform;
    cursor: none !important;
}

.swiper-pagination {
    margin-top: 30px;
    position: inherit;

    .swiper-pagination-bullet {
        width: 40px;
        height: 4px;
        margin: 0 !important;
        border-radius: 0;
        background-color: var(--ina-theme-color_4);
        transition: opacity 1s ease;

        @include respond("mini-phone") {
            width: 10px;
            height: 10px;
            border-radius: 50px !important;
            margin-left: 5px !important;
            margin-right: 5px !important;
        }
    }

    .swiper-pagination-bullet-active {
        background-color: var(--ina-theme-color_4);
    }
}

.swiper-button-next,
.swiper-button-prev {
    transform: translateY(-50%);
    top: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px !important;
    color: var(--ina-theme-color_0);
}

/************************** 
*  Swiper pagination Style 1
***************************/

.ina_swiper-pagination-style-one {
    position: relative;
    display: block;
    margin-top: 50px;
    margin-bottom: -14px;
    .swiper-pagination-bullet {
        background: transparent;
        height: 20px;
        width: 20px;
        border: 1px solid #ccc;
        position: relative;
        opacity: 1;
        margin: 0 5px !important;
        border-radius: 50%;

        &.swiper-pagination-bullet-active {
            border: 1px solid var(--ina-theme-bg_4);
            &:after {
                position: absolute;
                left: 50%;
                top: 50%;
                content: "";
                height: 5px;
                width: 5px;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--ina-theme-bg_4);
                transition: all 0.35s ease-in-out;
            }
        }
    }
}
