/************************** 
* About Top header // remove Css ina widgets.scss
***************************/

.ina_abouts-head-section-style1 {
    background-color: var(--ina-theme-bg_2);
    padding: 150px 0;
    padding-top: 160px;
    background-size: cover;
    background-position: center;

    img {
        display: none;
    }
    .ina-title-section {
        position: inherit;
    }

    .ina-breadcrumb .breadcrumb .breadcrumb-item a {
        color: var(--ina-theme-color_text_titre_0);
    }

    .ina-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
        content: "\e803";
        color: var(--ina-theme-color_2);

    }

    .ina-breadcrumb .breadcrumb .current {
        color: var(--ina-theme-color_2);
    }
}